<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="style.css">
</head>

 
    <a href="https://front.codes/" class="logo" target="_blank">
		
	</a>
</head>
<body>
  
  <div id="navbar-animmenu">
    <ul class="show-dropdown main-navbar">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
        <li class="active">
          <a href="javascript:void(0);"><i class="far fa-address-book"></i></a>
      </li>
      <li>
        <a href="#"><i class="far fa-clone"></i>HOME</a>
    </li>
       
        <li class="active">
            <a href="#"><i class="far fa-address-book"></i></a>
        </li>
        <li class="active">
          <a href="#"><i class="far fa-address-book"></i></a>
      </li>
      <li>
        <a href="/show"><i class="fas fa-tachometer-alt"></i>SHOW</a>
    </li>
        
    </ul>
</div>


<div>
    
        <form method="post" action="/add">

            <div class="form">
                <div class="title">Welcome</div>
                <div class="subtitle">Let's Add!</div>
                <div class="input-container ic1">
                  <input name="name" class="input" type="text" placeholder=" " />
                  <div class="cut"></div>
                  <label for="firstname" class="placeholder">Name</label>
                </div>
                
                <div class="input-container ic2">
                  <input name="email" class="input" type="text" placeholder=" " />
                  <div class="cut cut-short"></div>
                  <label for="email" class="placeholder">Email</label>
                </div>
                <button type="submit" class="submit">save</button>
              </div>
        
        </form>
</div>
        
</body>
</html>